.orderReview {
  :global {
    .ant-card-body {
      padding: 11px;
    }
    .ant-card-bordered {
      border-radius: 10px;
      border: 1px solid var(--main);
    }
    .ant-card {
      width: 100%;
      background: var(--main);
    }
  }
}
.orderPercent {
  :global {
    .ant-typography strong {
      padding: 5px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
    }
  }
}

.nowPayDiv {
  :global {
    .ant-modal-content {
      border-radius: 10px;
    }
  }
}

.paymentButton {
  margin-bottom: 10px;
  :global {
    .ant-card-body {
      padding: 3px 7px;
    }
    .ant-card-bordered {
      border: 1px solid #dddddd;
      border-radius: 8px;
    }
  }
}

.kassButton {
  :global {
    .ant-card-body {
      padding: 16px 7px;
    }
    .ant-card-bordered {
      border: 1px solid #dddddd;
      border-radius: 8px;
    }
  }
}

.nowPayCancelButton {
  :global {
    .ant-btn {
      color: var(--main);
      border-color: var(--main);
      background: #fff;
      width: 257px;
    }

    .ant-btn-lg {
      border-radius: 10px;
    }
  }
}
.nowPayokButton {
  :global {
    .ant-btn {
      color: white;
      border-color: var(--main);
      background: var(--main);
      width: 257px;
      border-radius: 10px;
      height: 42px;
      font-size: 15px;
    }

    .ant-btn-lg {
      border-radius: 10px;
    }
  }
}

.drawtButton {
  margin-top: 20px;
  :global {
    .ant-btn {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 10px;
      height: 45px;
      .ant-row-space-between {
        width: 100%;
      }
    }
  }
}
//orderHistory

.orderHistoryRestaurant {
  margin-top: 10px;
  :global {
    .ant-card {
      border-radius: 10px;
    }
    .ant-card-bordered {
      box-shadow: 0px 4px 8px rgb(0 0 0 / 4%), 0px 0px 2px rgb(0 0 0 / 6%), 0px 0px 1px rgb(0 0 0 / 4%);
    }
  }
  .dateText {
    color: '#5C616F';
    font-weight: 400, Regular;
    position: absolute;
    font-size: 13px;
    right: 9px;
    top: 4px;
  }
}

.noDataImage {
  :global {
    .ant-image-img {
      opacity: 0.1;
    }
  }
}

//orderHistoryConfirm

.orderHistoryDiv {
  border-radius: 10px;
  :global {
    .ant-drawer-content {
      border-radius: 10px !important;
    }

    .ant-drawer-header {
      background-color: #5340ff;
      border-radius: 10px !important;
    }

    .ant-drawer-title {
      color: #fff;
    }

    .ant-drawer-body {
      background-color: #5340ff;
      color: #fff;
      border-radius: 10px !important;
    }

    .site-drawer-render-in-current-wrapper {
      position: relative;
      height: 200px;
      padding: 48px;
      overflow: hidden;
      text-align: center;
      background: #fafafa;
      border: 1px solid #ebedf0;
      border-radius: 20px;
    }
  }
}
.orderHistoryAlert {
  :global {
    .ant-alert-info {
      background-color: #e5f9fe;
      border-color: #e5f9fe;
      border-radius: 6px;
    }
    .ant-alert-message {
      color: #0093b9;
      font-size: 13px;
    }
    .ant-alert-info .ant-alert-icon {
      font-size: 16px;
      margin-bottom: 20px;
      color: #0bb8e4;
    }
  }
}

.orderHistoryDone {
  :global {
    .ant-alert-info {
      background-color: #e5f9fe;
      border-color: #e5f9fe;
      border-radius: 6px;
    }
    .ant-alert-message {
      color: #34830c;
      font-size: 13px;
    }
    .ant-alert-info .ant-alert-icon {
      font-size: 16px;
      margin-bottom: 20px;
      color: #0bb8e4;
    }
  }
}

.orderStatus {
  :global {
    .ant-list-item-meta {
      align-items: center;
    }
  }
}
.input {
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px !important;
  border-radius: 5px;
  :global {
    .ant-input {
      height: 25px;
    }
  }
}
.text {
  font-weight: 600;
}
